    <div class="container charactersMain-container">
      {{!-- d-flex flex-column justify-content-center --}}
      <h1 class="text-center py-5 cs-h1">Welcome, {{userName}}!</h1>
      <a href="/characters/create" class="d-flex justify-content-center sedan-sc-regular fs-5"><button class="btn btn-success">Create  New  Character</button></a>
    </div>
    
<section class="d-flex flex-wrap justify-content-evenly my-5">
        {{#each characters}}
        <div class="card accordion-card">
            <div class="card-body my-3">
                <a href="/characters/characterInfo/{{name}}" class="nav-link"><h4 id="charOneLinks" class="text-center cs-charNames">{{name}}</h4></a>
                <div class="accordion" id="accordionExample{{@index}}">
                    <div class="accordion-item">
                        <h2 class="accordion-header cs-charInfo" id="headingOne{{@index}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{@index}}" aria-expanded="true" aria-controls="collapseOne{{@index}}">
                                Alignment: {{alignment.name}}
                            </button>
                        </h2>
                        <div id="collapseOne{{@index}}" class="accordion-collapse collapse show" aria-labelledby="headingOne{{@index}}" data-bs-parent="#accordionExample{{@index}}">
                            <div class="accordion-body sedan-sc-regular">
                                {{alignment.description}}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header cs-charInfo" id="headingTwo{{@index}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{@index}}" aria-expanded="false" aria-controls="collapseTwo{{@index}}">
                                Race: {{race.name}}
                            </button>
                        </h2>
                        <div id="collapseTwo{{@index}}" class="accordion-collapse collapse" aria-labelledby="headingTwo{{@index}}" data-bs-parent="#accordionExample{{@index}}">
                            <div class="accordion-body sedan-sc-regular">
                               You can fluently read, write, and speak in
                                {{race.languages.[0]}} and {{race.languages.[1]}}.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header cs-charInfo" id="headingThree{{@index}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree{{@index}}" aria-expanded="false" aria-controls="collapseThree{{@index}}">
                                Class: {{subclass.name}}  {{class.name}}
                            </button>
                        </h2>
                        <div id="collapseThree{{@index}}" class="accordion-collapse collapse" aria-labelledby="headingThree{{@index}}" data-bs-parent="#accordionExample{{@index}}">
                            <div class="accordion-body sedan-sc-regular">
                                {{subclass.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>


