<h2 class='sedan-sc-regular centre'>Create a Character</h2>
<form class='mx-auto' data-userid="{{userId}}" id="char-form">
  <div class='form-group m-3'>
    <label for='char-name'>Name</label>
    <input type='text' class='form-control' id='char-name' placeholder='Enter a name for your character' />
  </div>

  <div class='form-group m-3'>
    <label for='char-age'>Age</label>
    <input type='number' class='form-control' id='char-age' placeholder='Enter an age for your character' />
  </div>

 <div class='form-group m-3'>
    <label for='char-alignment'>Alignment</label>
    <select name='alignment-list' class='form-select' id='char-alignment'>
      <option value='' disabled selected>Select an alignment...</option>
      {{#each alignments as |alignment|}}
        <option value='{{id}}'>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class='form-group m-3'>
    <label for='char-class'>Class</label>
    <select name='class-list' class='form-select' id='char-class'>
      <option value='' disabled selected>Select a class...</option>
      {{#each classses as |class|}}
        <option value='{{id}}'>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group m-3">
    <label for="char-subclass">Subclass</label> 
      <select name="subclass-list" class="form-select" id="char-subclass">
        <option value="" disabled selected>Select a subclass...</option>
        {{!-- right now we can't add subclasses via handlebar render() because the options are based on the selected class --}}
    </select>
  </div>

  <div class='form-group m-3'>
    <label for='char-race'>Race</label>
    <select name='race-list' class='form-select' id='char-race'>
      <option value=''>Select a race...</option>
      {{#each races as |race|}}
        <option value='{{id}}'>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class='form-group m-3'>
    <button type='submit' class='btn btn-secondary form-control'>Create</button>
  </div>
</form>
<script src="/js/create.js"></script>